<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16332291329-l5ejv7p9se274rjkfsl1b45ipfkno9qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16332291329-l5ejv7p9se274rjkfsl1b45ipfkno9qd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>16332291329-buhjm6mkf8kfv2k6s7h4igd4vds55o2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtyzw7FuRR72xbyoFad7geTbvtCFP4e24</string>
	<key>GCM_SENDER_ID</key>
	<string>16332291329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.testeTicketExchange</string>
	<key>PROJECT_ID</key>
	<string>party-now-app</string>
	<key>STORAGE_BUCKET</key>
	<string>party-now-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16332291329:ios:2c88f9599e638a2303af00</string>
</dict>
</plist>